* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.implement-pic {
  max-width: 500px;
  margin-bottom: -3rem;
  margin-left: 1.2rem; }

a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease; }
  a:hover {
    opacity: 0.6; }

.company-logo {
  width: 150px;
  color: yellow; }

.split {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .split img {
    max-width: 60%;
    width: 100%; }
  .split > * {
    flex-basis: 250px; }

.phone-img {
  max-width: 450px;
  padding-left: 3rem;
  margin-top: -2rem;
  margin-bottom: -3rem; }

img {
  width: 100%; }

.deskop {
  display: none;
  background-color: #ba4272;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .deskop:hover {
    opacity: 0.8;
    background-color: #d6457f; }

.btn-trasparent {
  display: inline-block;
  padding: 1.2rem 2.6rem;
  color: #dfdfdf;
  border: #dfdfdf solid 2px;
  border-radius: 40px;
  font-size: 1.4rem; }

.btn-demo {
  display: inline-block;
  background-color: #ba4272;
  border-radius: 40px;
  padding: 1.3rem 2rem;
  border-radius: 40px;
  max-width: 500px;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  .btn-demo:hover {
    opacity: 0.8;
    background-color: #d6457f; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.py-4 {
  padding: 4rem 0; }

ul {
  list-style: none; }

.container {
  padding: 0 2rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

body {
  background-color: #eef3f9;
  font-family: "Public Sans", sans-serif;
  color: #2d314d;
  font-size: 18px;
  line-height: 1.6; }

.spacing > * + * {
  margin-top: 2rem; }

.secondary-title {
  text-align: center;
  margin-bottom: 2rem; }

.section-title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.2;
  color: #2d314d;
  margin-bottom: 1rem; }

#nav-bar {
  padding: 1.4rem 0; }
  #nav-bar .nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto; }
    #nav-bar .nav-content .menu-bar-deskop {
      display: none; }
    #nav-bar .nav-content .menu-bar {
      z-index: 6;
      position: absolute;
      top: 180%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 96%;
      background-color: white;
      border-radius: 5px;
      padding: 1.2rem 0;
      text-align: center;
      color: #2d314d;
      transform: translateX(-120%);
      transition: transform 0.5s ease-in-out; }
      #nav-bar .nav-content .menu-bar.active {
        transform: translateX(0%); }
      #nav-bar .nav-content .menu-bar li {
        margin-bottom: 1rem; }
    #nav-bar .nav-content .menu-btn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.5s ease-in-out; }
      #nav-bar .nav-content .menu-btn.open .menu-btn-burger {
        transform: translateX(-36px);
        background: transparent; }
        #nav-bar .nav-content .menu-btn.open .menu-btn-burger::before {
          transform: rotate(45deg) translate(25px, -25px); }
        #nav-bar .nav-content .menu-btn.open .menu-btn-burger::after {
          transform: rotate(-45deg) translate(25px, 25px); }
      #nav-bar .nav-content .menu-btn .menu-btn-burger {
        width: 30px;
        height: 3px;
        background-color: #2d314d;
        border-radius: 5px;
        transition: all 0.5s ease-in-out; }
        #nav-bar .nav-content .menu-btn .menu-btn-burger::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: #2d314d;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateY(-10px); }
        #nav-bar .nav-content .menu-btn .menu-btn-burger::after {
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: #2d314d;
          border-radius: 5px;
          transition: all 0.5s ease-in-out;
          transform: translateY(10px); }

#hero {
  padding-bottom: 4rem; }
  #hero .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    #hero .hero-content .hero-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      #hero .hero-content .hero-text input {
        margin-bottom: 2rem;
        padding: 1.3rem 2rem;
        border-radius: 40px;
        border: none;
        max-width: 500px;
        width: 100%;
        font-size: 1.4rem; }
      #hero .hero-content .hero-text div {
        margin-top: 2rem;
        width: 100%;
        text-align: center; }
        #hero .hero-content .hero-text div p {
          font-size: 1.4rem;
          font-weight: 400;
          color: #2d314d;
          display: inline; }
        #hero .hero-content .hero-text div a {
          font-size: 1.4rem;
          font-weight: 400;
          color: #2d314d;
          text-decoration: underline;
          font-weight: bold; }

#work-with {
  background-color: #1c262f;
  color: whitesmoke; }
  #work-with .work-with-content {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #work-with .work-with-content .company-logos {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      max-width: 700px;
      margin-bottom: 2rem; }
      #work-with .work-with-content .company-logos > * {
        min-width: 100px;
        margin: 1rem; }
    #work-with .work-with-content .work-with-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 450px; }
      #work-with .work-with-content .work-with-text .section-title {
        color: white; }
      #work-with .work-with-content .work-with-text p {
        text-align: center;
        line-height: 2;
        color: #dfdfdf;
        margin-bottom: 2rem; }

#easy-implement .implement-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto; }
  #easy-implement .implement-content p {
    margin-bottom: 2rem; }

#features .feature-boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  #features .feature-boxes .box .img-feature {
    width: 10%; }

#ready .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }
  #ready .container input {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.3rem 2rem;
    border-radius: 40px;
    border: none;
    max-width: 500px;
    width: 100%;
    font-size: 1.4rem; }

footer {
  background-color: #1c262f;
  color: white; }
  footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    footer .container img {
      width: 30px; }
    footer .container .logo-footer {
      width: 150px; }
    footer .container ul li {
      margin-bottom: 0.8rem;
      text-align: center; }
      footer .container ul li a {
        color: white; }
    footer .container .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem; }

#hero-about .container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
  padding-bottom: 3rem; }
  #hero-about .container div {
    margin-bottom: 1.6rem; }
  #hero-about .container p {
    line-height: 1.3; }

#image-about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

#about-features .boxes {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-top: solid #1c262f 1px;
  border-bottom: solid #1c262f 1px; }
  #about-features .boxes .box h3 {
    font-size: 1.6rem; }
  #about-features .boxes .box .number {
    color: #ba4272;
    font-weight: 400;
    font-size: 5rem; }

@media screen and (min-width: 780px) {
  #nav-bar .nav-content {
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    #nav-bar .nav-content .menu-bar-deskop {
      display: flex;
      justify-content: center;
      align-items: center; }
      #nav-bar .nav-content .menu-bar-deskop li {
        font-size: 1.3rem;
        font-weight: bold;
        margin-right: 1.2rem; }
    #nav-bar .nav-content .menu-btn {
      display: none; }
    #nav-bar .nav-content .deskop {
      display: inline; }
  #hero .hero-content {
    display: flex;
    flex-direction: row; }
  #work-with .work-with-content {
    display: flex;
    flex-direction: row; }
  #easy-implement .implement-content img {
    max-width: 450px; }
  #easy-implement .implement-content .ui-ux {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    #easy-implement .implement-content .ui-ux p {
      text-align: left;
      max-width: 400px; }
    #easy-implement .implement-content .ui-ux h2 {
      text-align: left; }
  #easy-implement .implement-content .easy-to-implement {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center; }
    #easy-implement .implement-content .easy-to-implement .implement-text {
      display: flex;
      flex-direction: column; }
      #easy-implement .implement-content .easy-to-implement .implement-text p {
        text-align: left;
        max-width: 400px; }
      #easy-implement .implement-content .easy-to-implement .implement-text h2 {
        text-align: left; }
  footer .container {
    flex-direction: row;
    justify-content: space-between; }
    footer .container ul {
      display: flex;
      flex-direction: row; }
      footer .container ul li {
        margin-right: 2rem; } }
